<div class="container">
  <div>
    <h2 mat-dialog-title>Book Parking Spot</h2>
  </div>
  <mat-dialog-content>
    <form>
      <div class="mb-1">
        <label for="parkingSpot" class="form-label">Parking Spot</label>
        <input type="number" class="form-control" id="parkingSpot" />
      </div>
      <div class="mb-1">
        <label for="vehicleNumber" class="form-label">Vehicle Number</label>
        <input type="number" class="form-control" id="vehicleNumber" />
      </div>
      <div class="mb-1">
        <label for="amount" class="form-label">Amount</label>
        <input type="number" class="form-control" id="amount" />
      </div>
      <div class="mb-1">
        <label for="customerName" class="form-label">Customer Name</label>
        <input type="text" class="form-control" id="customerName" />
      </div>
      <div class="mb-1">
        <label for="customerContact" class="form-label">Customer Contact</label>
        <input type="text" class="form-control" id="customerContact" />
      </div>
      <div class="pt-3 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <button mat-button type="reset" class="btn btn-outline-secondary me-2">Reset</button>
        <button mat-button mat-dialog-close class="btn btn-outline-dark">Close</button>
      </div>
    </form>
  </mat-dialog-content>
</div>
