#location {
    font-size: 40px;
    position: relative;
    top: 4px;
    color: #13c33e;
    height: 40px;
    width: 36px;
}
#user{
    height: 40px;
    width: 36px;
}
.nav-link{
    padding: 16px 30px !important;
    font-family: 'Nunito' !important;
    font-weight: 700 !important;
    color: #888d93 !important;
}
.nav-link:hover{
    color: black !important;
}
.dot{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 3rem;
}
.card-title{
    font-size: 20px;
    font-weight: 00;
    color: #888d93;
}